
// Fonts
@import url("https://fonts.googleapis.com/css?family=Varela+Round:400,700,400italic");
@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700");


// Bootstrap
@import "~bootstrap-less/bootstrap/index";

// Variables
@import "_variables";
// Theme
@import "theme";

.react-datepicker__time-list {
    padding: 0 !important;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
padding: 2px 7px;
}
.modal-img {
    width: 90%;
    min-width: 100px;
    max-width: 400px;
}
.navbar-brand>a {
color:black;
}
img.listing-img {
    max-width: 40px;
}
p.lead {
  font-size: ceil((@font-size-base * 1.1));
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
.toggle-chevron-column {
 justify-content: center;
 display:flex;
}
.terms {
  max-height: 600px;
  overflow-y: scroll;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}